@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/$safeprojectname$.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.1.42/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/26.1.42/dist/ej2.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <header>
            @{
                Dictionary<string, object> ButtonAttribute = new Dictionary<string, object>();
                ButtonAttribute.Add("aria-label", "menu");
            }

            <div class="row py-1 align-items-center justify-content-between" style="background-color:#00858D">
                <div class="ms-3 col-5 d-flex justify-content-start">
                    <p class="fs-6 my-auto" style="color:white">cs@centraldataservice.co.id | 0251 8574 375</p>
                </div>
                <div class="col-5 d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Youtube">
                        <button type="button" class="btn"><img src="~/image/layout/youtube.svg"></button>
                    </div>
                    <div class="btn-group" role="group" aria-label="TikTok">
                        <button type="button" class="btn"><img src="~/image/layout/tik-tok.svg"></button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Instagram">
                        <button type="button" class="btn"><img src="~/image/layout/instagram.svg"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 bg-light">
                    <nav class="navbar navbar-expand-lg bg-light">
                        <a class="navbar-brand" href="#">
                            <img src="~/image/Logo.svg" alt="Alternate Text" />
                        </a>
                        <button class="btn ms-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00858D"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" /></svg>
                        </button>
                        <p class="fst-italic my-auto d-none d-md-block" style="color:#08444B"> | Benchmarking Laporan Keuangan</p>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#046D76"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" /></svg></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="btn-group ms-auto me-3 d-none d-lg-block">
                                <a href="#" class="btn active" aria-current="page">ID</a>
                                <a href="#" class="btn">EN</a>
                            </div>
                            <button type="button" class="btn btn-primary d-none d-lg-block">
                                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z" /></svg></span>
                                Masuk
                            </button>
                            <ul class="navbar-nav me-auto my-3 mb-lg-0 d-lg-none d-flex align-items-end">
                                <li class="nav-item ms-auto">
                                    <div class="btn-group ms-auto mb-3">
                                        <a href="#" class="btn active" aria-current="page">ID</a>
                                        <a href="#" class="btn">EN</a>
                                    </div>
                                </li>
                                <li class="nav-item ms-auto">
                                    <button type="button" class="btn btn-primary">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z" /></svg></span>
                                        Masuk
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </header>
        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <div class="row px-4 pt-5 pb-3" style="background-color:#072125">
                <div class="col-12">
                    <p class="fs-6" style="color:white">PT Central Data Access</p>
                </div>
                <div class="col-md-4">
                    <p class="fs-6 mb-1 footer-sub-title">
                        Alamat Kantor Pusat
                    </p>
                    <p class="footer-description mb-3">
                        Gedung Pembina Graha No. 10, Rawamangun, Jakarta Timur
                    </p>
                    <p class="fs-6 mb-1 footer-sub-title">
                        Workshop
                    </p>
                    <p class="footer-description mb-3">
                        Jalan Baugenville Z7 No. 10,Kedung Waringin, Tanah Sareal, Kota Bogor, Jawa Barat
                    </p>
                    <div class="btn-group" role="group" aria-label="Youtube">
                        <button type="button" class="btn"><img src="~/image/layout/youtube.svg"></button>
                    </div>
                    <div class="btn-group" role="group" aria-label="TikTok">
                        <button type="button" class="btn"><img src="~/image/layout/tik-tok.svg"></button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Instagram">
                        <button type="button" class="btn"><img src="~/image/layout/instagram.svg"></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="fs-6 mb-1 footer-sub-title">
                        Telepon
                    </p>
                    <a class="footer-description ">
                        0251 8574 375
                    </a>
                    <br />
                    <p class="fs-6 mb-1 footer-sub-title">
                        WhatsApp
                    </p>
                    <a class="footer-description ">
                        0822 1001 9696
                    </a>
                    <br />
                    <a class="footer-description ">
                        0822 1001 9696
                    </a>
                    <br />
                    <p class="fs-6 mb-1 footer-sub-title">
                        Email
                    </p>
                    <a class="footer-description ">
                        cs@centraldataaccess.co.id
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <p class="fs-6 mb-1 footer-sub-title">
                                Perusahaan
                            </p>
                            <a class="footer-description ">
                                Tentang Kami
                            </a>
                            <br />
                            <a class="footer-description ">
                                Data Pembanding
                            </a>
                            <br />
                            <a class="footer-description ">
                                Info Perpajakan
                            </a>
                            <br />
                            <a class="footer-description ">
                                Kontak Kami
                            </a>
                        </div>
                        <div class="col-6">
                            <p class="fs-6 mb-1 footer-sub-title">
                                Jasa Kami
                            </p>
                            <a class="footer-description ">
                                Tentang Kami
                            </a>
                            <br />
                            <a class="footer-description">
                                Data Pembanding
                            </a>
                            <br />
                            <a class="footer-description">
                                Info Perpajakan
                            </a>
                            <br />
                            <a class="footer-description">
                                Kontak Kami
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 pt-3 d-flex justify-content-between border-top" style="opacity: 50%">
                    <p class="footer-description">© Copyright. All Rights Reserved 2024</p>
                    <a class="footer-description">Syarat dan Ketentuan</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Syncfusion ASP.NET MVC Script Manager -->
    @Html.EJS().ScriptManager()
</body>
</html>
