@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using Syncfusion.EJ2.Inputs
@using WebApps.Models.ServiceModel;
@using WebApps.Controllers;


@{
    ViewData["Title"] = "Simulasi Benchmarking Laporan Keuangan";
}

@* <link rel="stylesheet" href="~/css/controller/benchmarking.css" asp-append-version="true" /> *@

<div class="row custome-jumbotron">
    <div class="col-12">
        <button class="btn btn-light btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00858D"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" /></svg>
            | Benchmarking Laporan Keuangan
        </button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
    <div class="col-12"></div>
</div>

@* <script src="~/js/controllers/service.js"></script> *@
