html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.ct-card-content-body{
  padding-bottom: 10px;
}

@media (max-width: 767px) {
    .hide-on-mobile {
        /*display: none;*/ /* Hide the div */
    }
}

/*.head-img-benchmarking{
  background-image: url('../image/Benchmarking_bg1.jpeg');
  width: 100vw;*/ /* Full viewport width */
  /*margin-left: calc(-50vw + 50%);*/ /* Center align */
  /*background-size: cover;*/ /* Stretch the background image */
  /*background-position: center;*/ /* Center the background image */
  /*background-repeat: no-repeat;*/ /* Do not repeat the background image */
  /*padding: 20px;*/ /* Optional padding */
  /*text-align: left;*/ /* Center text */
  /*color: white;*/ /* Optional text color for contrast */
  /*height: 350px;
}*/

/*.main-left-frame {*/
    /* Frame 40 */
    /* Auto layout */
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 12px 12px;
    gap: 12px;
    position: absolute;
    width: 410px;
    height: 646px;
    left: 81px;
    top: 600px;
    background: rgba(0, 133, 141, 0.08);
    border-radius: 4px;

}
.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 386px;
    height: 618px;
    background: #FFFBFB;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main-left-image {
    width: 362px;
    height: 260px;
    background: linear-gradient(219.21deg, #F2F2F7 11.61%, #00858D 99.64%), url('../image/service/main-left.svg');
    background-blend-mode: color-burn, normal;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main-left-accordian {*/
    /* accordion */

    /*box-sizing: border-box;*/
    /* Auto layout */
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 12px;
    gap: 10px;
    width: 362px;
    height: 68px;
    border-bottom: 1px solid #C4DFE4;*/
    /* Inside auto layout */
    /*flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.main-left-accordian-text {*/
    /* Tentang Data Pembanding Laporan Keuangan */

    /*width: 312px;
    height: 56px;*/
    /* Heading/Med/H6 - M */
    /*font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;*/
    /* or 127% */

    /*color: #075860;*/
    /* Inside auto layout */
    /*flex: none;
    order: 0;
    flex-grow: 1;
}
.main-left-content {*/
    /* Dokumen Penetapan Harga Transfer menguji kewajaran transaksi afiliasi yang dilakukan dengan mencari perusahaan pembanding yang sering disebut dengan Benchmarking Data Pembanding. Data Pembanding Eksternal yang tersedia diperoleh dari BvD TPCatalyst yang kemudian diolah menjadi Benchmarking Data Pembanding yang di klasifikasikan berdasarkan klasifikasi usaha. */

    /*width: 362px;
    height: 242px;*/
    /* Body - R/Body - M */
    /*font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;*/
    /* or 138% */

    /*color: #08444B;*/
    /* Inside auto layout */
    /*flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.main-right-frame {*/
    /* container_content */
    /* Auto layout */
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    position: absolute;
    width: 845px;
    height: 1153px;
    left: 515px;
    top: 602px;
    background: rgba(0, 133, 141, 0.08);
    border-radius: 8px;
}*/



.e-grid .e-headercell {
  color: darkblue;
}
.e-grid .e-headercelldiv {
  font-size: 30px;
}
.e-grid .e-gridheader {
  border:2px solid darkblue;
}
.e-grid td.e-active {
  background-color: gray;
}

.e-youtube:before {
  content: "\a709";
}

.e-tiktok:before {
  content: "\a700";
}


.e-linkedin:before {
  content: "\a704";
}

.custom-btn {
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Mouse pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    /* nav-menu-title */

    width: 254px;
    height: 22px;
    /* Body - R/Body - M */
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    color: #08444B;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

    .custom-btn:hover {
        background-color: #2980b9; /* Darker background on hover */
    }

    .custom-btn:active {
        background-color: #1f5f8b; /* Even darker background when clicked */
    }


/* nav-bar-top */
.nav-bar-top {
    /* Auto layout */
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    gap: 32px;
    position: absolute;
    width: 1440px;
    /*height: 40px;*/
    left: 0px;
    top: 0px;
    background: #00858D;
    border-bottom: 1px solid #FFFFFF;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
}

.nav-bar-text{
    color:white;
}

.nav-app-main {
    /* nav-bar-top */
    /* Auto layout */
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 32px;
    position: absolute;
    width: 1440px;
    height: 88px;
    left: 0px;
    top: 40px;
    background: #F5F9FA;
    border-bottom: 1px solid #C4DFE4;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}

.nav-app-main {
    /* nav-bar-top */
    /* Auto layout */
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 32px;
    position: absolute;
    width: 1440px;
    height: 88px;
    left: 0px;
    top: 40px;
    background: #F5F9FA;
    border-bottom: 1px solid #C4DFE4;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}



/*---------------Footer---------------*/

.footer-frame {
    /* Frame 1000002619 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 40px;
    gap: 16px;
    position: absolute;
    width: 100%;
    left: 0px;
    background: #072125;
}

.footer-frame-1 {
    /* PT Central Data Access */
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-frame-2 {
    /* Frame 1000002619 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 16px;
    gap: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    width: 100%;
}

.footer-frame-3 {
    /* Frame 1000002618 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    width: 100%;
}


.footer-frame-2-1 {
    /* Frame 1000002822 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    /*width: 474.5px;*/
    height: 184px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.footer-frame-2-1-1 {
    /* Frame 1000002820 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    /*width: 322px;*/
    height: 144px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-1-1-1 {
    /* Frame 1000002820 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    /*width: 322px;*/
    height: 64px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-1-1-1-1 {
    /* Alamat Kantor Pusat */
    /*width: 322px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-1-1-1-2 {
    /* Gedung Pembina Graha No. 10, Rawamangun, Jakarta Timur */
    /*width: 322px;*/
    height: 40px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-1-1-2 {
    /* Frame 1000002821 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    /*width: 322px;*/
    height: 64px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-1-1-2-1 {
    /* Workshop */
    /*width: 322px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-1-1-2-2 {
    /* Jalan Baugenville Z7 No. 10,Kedung Waringin, Tanah Sareal, Kota Bogor, Jawa Barat */
    /*width: 322px;*/
    height: 40px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-frame-2-1-2 {
    /* accounts */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 88px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-1-2-1 {
    /* youtube 1 */

    width: 24px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url('/image/layout/youtube.svg');
}
.footer-frame-2-1-2-2 {
    /* tik-tok 1 */

    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    /* Vector */
    background-image: url('/image/layout/tik-tok.svg');
}
.footer-frame-2-1-2-3 {
    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    /* Vector */
    background-image: url('/image/layout/instagram.svg');
}

.footer-frame-2-2 {
    /* Frame 1000002823 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    /*width: 474.5px;*/
    height: 186px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}
.footer-frame-2-2-1 {
    /* Frame 1000002820 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    /*width: 322px;*/
    height: 44px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-2-1-1 {
    /* Telepon */

    /*width: 322px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-2-1-2 {
    /* 0251 8574 375 */

    /*width: 322px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-frame-2-2-2 {
    /* Frame 1000002821 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    /*width: 322px;*/
    height: 66px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-2-2-1 {
    /* Telepon */

    /*width: 322px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-2-2-2 {
    /* 0251 8574 375 */

    /*width: 322px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-2-2-3 {
    /* 0251 8574 375 */

    /*width: 322px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.footer-frame-2-2-3 {
    /* Frame 1000002822 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    /*width: 322px;*/
    height: 44px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.footer-frame-2-2-3-1 {
    /* Telepon */

    /*width: 322px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-2-3-2 {
    /* 0251 8574 375 */

    /*width: 322px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-frame-2-3 {
    /* Frame 1000002821 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    /*width: 118px;*/
    height: 138px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.footer-frame-2-3-1 {
    /* Perusahaan */

    /*width: 91px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-3-2 {
    /* Frame 1000002820 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    /*width: 118px;*/
    height: 104px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-3-2-1 {
    /* Tentang Kami */

    /*width: 120px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-3-2-2 {
    /* Tentang Kami */

    /*width: 120px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-3-2-3 {
    /* Tentang Kami */

    /*width: 120px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.footer-frame-2-3-2-4 {
    /* Tentang Kami */

    /*width: 120px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer-frame-2-4 {
    /* Frame 1000002820 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    /*width: 197px;*/
    height: 138px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}
.footer-frame-2-4-1 {
    /* Perusahaan */

    /*width: 91px;*/
    height: 22px;
    /* Body - M/Body - M Medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    color: #93C6CE;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-4-2 {
    /* Frame 1000002820 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    /*width: 197px;*/
    height: 104px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-frame-2-4-2-1 {
    /* Tentang Kami */

    /*width: 197px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-frame-2-4-2-2 {
    /* Tentang Kami */

    /*width: 197px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-frame-2-4-2-4 {
    /* Tentang Kami */

    /*width: 197px;*/
    height: 20px;
    /* Body - R/Body - S */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #F5F9FA;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer-frame-3-1 {
    /* Frame 1000002617 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.footer-frame-3-1-1 {
    /* � Copyright. All Rights Reserved 2024 */

    height: 20px;
    /* Body/Regular/Body-S-Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.5;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.footer-frame-3-1-2 {
    /* Syarat dan Ketentuan */

    /*width: 143px;*/
    height: 20px;
    /* Body/Regular/Body-S-Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.72;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*---------------NavBar---------------*/
.nav-top {
    /* nav-bar-top */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    gap: 32px;
    /*position: absolute;*/
    height: 40px;
    left: 0px;
    top: 0px;
    background: #00858D;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    width: 100%;
}

.nav-top-1 {
    /* container-logo */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin: 0 auto;
    height: 22px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav-top-1-1 {
    /* nav-menu-title */

    height: 22px;
    /* Body - R/Body - M */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-top-1-2 {
    /* nav-menu-title */

    width: 6px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-top-2 {
    /* nav-menu */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 12px;
    margin: 0 auto;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}


.nav-main {
    /* nav-bar-top */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 32px;
    position: sticky;
    /*width: 1440px;*/
    height: 88px;
    left: 0px;
    top: 40px;
    background: #F5F9FA;
    border-bottom: 1px solid #C4DFE4;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}

.nav-main-1 {
    /* container-logo */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 200px;
    height: 32px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url('/image/layout/logo.svg');
    cursor: pointer;
}

.nav-main-2 {
    /* nav-menu */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    /*width: 896px;*/
    height: 48px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.nav-main-2-1 {
    /* home (5) 1 */

    width: 16px;
    height: 16px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url('/image/layout/home.svg');
    cursor: pointer;
}
.nav-main-2-2 {
    /* nav-menu */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 2px;
    width: 270px;
    height: 48px;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}
.nav-main-2-2-1 {
    /* nav-menu-title */

    width: 254px;
    height: 22px;
    /* Body - R/Body - M */
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    color: #08444B;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}


.nav-main-3 {
    /* nav-menu */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    /*width: 200px;*/
    height: 48px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.mav-main-3-1 {
    /* nav-menu-title */

    width: 16px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    color: #046D76;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.mav-main-3-2 {
    /* nav-menu-title */

    width: 22px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    color: #1E435B;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.mav-main-3-3 {
    /* Primary */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 107px;
    height: 48px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.nav-main-3-3-1 {
    /* .primary-base */

    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 107px;
    height: 48px;
    background: #075860;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav-main-3-3-1-1 {
    /* Primary */

    width: 51px;
    height: 24px;
    /* Body/Medium/Body-M-M */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-main-3-3-1-2 {
    /* icons */

    width: 16px;
    height: 16px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    background-image: url('/image/layout/login.svg');
}


/*New CSS*/
.footer-sub-title {
    color: #93C6CE;
    margin-top: 1rem;
}

.footer-description {
    color: #F5F9FA;
    font-size: 0.8rem;
    text-decoration: none;
}

.btn-outline-tosca:hover .icon-outline-tosca {
    fill: #ffff;
}

.btn-outline-tosca {
    color: #00858D;
    fill: #00858D;
    border-color: #00858D !important;
}

.btn-tosca {
    color: #FFFF !important;
    background-color: #00858D !important;
}

.btn-tosca:hover {
    opacity: 0.8;
}

    .btn-outline-tosca:hover {
        color: #ffff;
        background-color: #00858D !important;
        border-color: #00858D !important;
    }

.modal-hyperlink {
    color: #cc3366;
    text-decoration: none;
}

.modal-hyperlink2 {
    color: #046d76;
    text-decoration: none;
}
